body{
    text-align: center;
    background-color: rgb(239, 245, 241);
}

button {
    padding: 10px 20px;
    font-size: 20px;
    font-weight: bold;
}

a {
    text-decoration: none;
}

a:visited{
    color:black;
}



@media(min-width: 1100px){
    div[id="grid container"]{
        min-height: 99vh;
        /* border: 2px solid yellow; */
        display: grid;

        grid-gap: 15px;
    
        grid-template-columns: repeat(3, 300px);
        grid-template-rows: auto 1fr auto;
    
        grid-template-areas:
        "hd hd hd hd"
        "m m m m"
        "ft ft ft ft"
    
    }
    
    header{
        
        /* border: 2px solid red; */

        grid-area: hd;
        font-size:40px;

        display: flex;
        justify-content: space-evenly;
        align-items: center;

        background-color: rgb(255, 250, 240);
    }
    article{
        grid-area: m;
    
        display: grid;
        grid-gap: 5px;

        grid-template-columns: 400px 1fr;
        grid-template-areas:"as mc mc mc";

        text-align: left;
    }
    
    #Author-Information{
        /* border: 2px solid purple; */
        grid-area: as;
        font-family: Tahoma, Geneva, Verdana, sans-serif;
        text-align: center;

        font-size: 18px;

        background-color: silver;
    }
    
    #Main-Content{
        /* border: 2px solid blue; */
        grid-area: mc;
        font-size: 26px;
        font-family: Tahoma, Geneva, Verdana, sans-serif;
    }
    
    footer{
        /* border: 2px solid red; */

        grid-area: ft;
        background-color: rgb(255, 250, 240);

        display: flex;
        justify-content: center;
        align-items: center;

    }

}


@media(min-width:800px) and (max-width: 1100px){
    div[id="grid container"]{
        min-height: 99vh;
        /* border: 2px solid yellow; */
        display: grid;

        grid-gap: 15px;
    
        grid-template-columns: repeat(2, 300px);
        grid-template-rows: auto 1fr auto;
    
        grid-template-areas:
        "hd hd hd hd"
        "m m m m"
        "ft ft ft ft"
    
    }
    
    header{
        
        /* border: 2px solid red; */
    
        grid-area: hd;
        font-size:40px;

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse;

        background-color: rgb(255, 250, 240);
    }
    article{
        grid-area: m;
    
        display: grid;
        grid-gap: 5px;

        grid-template-columns: 300px 1fr;
        grid-template-areas:"as mc mc mc";

        text-align: left;
    }
    
    #Author-Information{
        background-color: silver;
        /* border: 2px solid purple; */
        grid-area: as;
        font-family: Tahoma, Geneva, Verdana, sans-serif;
        text-align: center;
    }
    
    #Main-Content{
        /* border: 2px solid blue; */
        
        grid-area: mc;

        font-size: 26px;
        font-family: Tahoma, Geneva, Verdana, sans-serif;
    }
    
    footer{
        /* border: 2px solid red; */

        grid-area: ft;
        background-color: rgb(255, 250, 240);

        display: flex;
        justify-content: center;
        align-items: center;

    }

    button{
        margin-bottom: 10px;
    }

}

@media(max-width: 800px){
    div[id="grid container"]{
        min-height: 99vh;
        /* border: 2px solid yellow; */
        display: grid;

        grid-gap: 15px;
    
        grid-template-columns: 300px;
        grid-template-rows: auto 1fr auto;
    
        grid-template-areas:
        "hd hd hd hd"
        "m m m m"
        "ft ft ft ft"
    
    }
    
    header{
        
        /* border: 2px solid red; */
    
        grid-area: hd;
        font-size:24px;

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse;

        background-color: rgb(255, 250, 240);
    }
    article{
        grid-area: m;
    
        display: flex;
        flex-direction: column;

        justify-content: center;
        align-items: center;


        text-align: left;
    }
    
    #Author-Information{
        /* border: 2px solid purple; */

        background-color: silver;

        font-family: Tahoma, Geneva, Verdana, sans-serif;
        text-align: center;
    }
    
    #Main-Content{
        /* border: 2px solid blue; */

        font-size: 18px;
        font-family: Tahoma, Geneva, Verdana, sans-serif;
    }
    
    footer{
        /* border: 2px solid red; */

        grid-area: ft;
        background-color: rgb(255, 250, 240);

        display: flex;
        justify-content: center;
        align-items: center;

    }

    button{
        margin-bottom: 10px;
    }
}